ema_workbench
pynetlogo
PyScaffold==2.5.7
sphinx>=1.4
ipykernel
nbsphinx
future
futures
numpy
scipy
pandas
ipython
ipyparallel
JPype1==0.6.3
pynetlogo
jupyter
scikit-learn
seaborn
matplotlib
pyzmq
pysd
statsmodels